ejercicios_python/readme.txt
ejercicios_python/Clase01/readme.txt
ejercicios_python/Clase02/readme.txt
ejercicios_python/Clase03/readme.txt
ejercicios_python/Clase04/readme.txt
ejercicios_python/Clase06/readme.txt
ejercicios_python/Clase12/readme.txt

ejercicios_python/Clase01/inclusive.py
ejercicios_python/Clase01/iteracion.py
ejercicios_python/Clase01/saludo.py
ejercicios_python/Clase01/split.py
ejercicios_python/Clase08/readme.txt
