ejercicios_python/readme.txt
ejercicios_python/Clase01/readme.txt
ejercicios_python/Clase02/readme.txt
ejercicios_python/Clase03/readme.txt
ejercicios_python/Clase04/readme.txt
ejercicios_python/Clase06/readme.txt
ejercicios_python/Clase12/readme.txt

ejercicios_python/Clase01/inclusive.py
ejercicios_python/Clase01/iteracion.py
ejercicios_python/Clase01/saludo.py
ejercicios_python/Clase01/split.py
ejercicios_python/Clase08/readme.txt
ejercicios_python/Data/readme.txt
ejercicios_python/Clase02/ejercicio 2.1.py
.gitignore
ejercicios_python/Clase02/ejercicio 2.5.py
ejercicios_python/Clase02/ejercicio 2.4.py
ejercicios_python/Clase02/ejercicio 2.8.py
ejercicios_python/Clase02/ejercicio 2.11.py
ejercicios_python/Clase03/contar.py
ejercicios_python/Clase03/correccion.py
ejercicios_python/Clase03/ejercicio.py
ejercicios_python/Clase03/funcion_zip.py
ejercicios_python/Clase03/invertir_diccionario.py
ejercicios_python/Clase03/pisando_memoria.py
ejercicios_python/Clase04/busqueda.py
ejercicios_python/Clase04/comp_listas.py
ejercicios_python/Clase04/example.py
ejercicios_python/Clase04/propaga_mia.py
ejercicios_python/Clase05/5.2examples.py
ejercicios_python/Clase05/envido.py
ejercicios_python/Clase05/example_semillas.py
ejercicios_python/Clase05/num_examples.py
ejercicios_python/Clase05/revision.py
ejercicios_python/Clase05/revision2.py
ejercicios_python/Clase06/hipoteca.py
ejercicios_python/Clase06/rebotes.py
ejercicios_python/Clase06/repaso.py
